.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favoritesList {
    padding: 0 20px;
    width: 773px;
}

@media (max-width: 1024px) {
    .favoritesList {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .favoritesList {
        padding: 0 10px;
        width: 340px;
    }
}