.container {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.vacanciesContainer {
    width: 773px;
    padding: 24px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .vacanciesContainer {
        width: 100vw;
        padding: 12px;
    }
}
@media (max-width: 480px) {
    .container {
        display: block;
    }
    .vacanciesContainer {
        margin: 0 auto;
    }
}