.container {
    display: flex;
    height: 137px;
}

.favoriteIcon {
    margin-left: auto;
}

@media (max-width: 768px) {
    .container {
        height: auto;
        padding-bottom: 15px;
    }
}
